* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

header {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #f39c12;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 20px;
    animation: slideIn 1s ease-in-out;
}

.text-container {
    width: 50%;
}

.photo-container {
    width: 50%;
    border: 5px solid #f39c12; /* Colored border */
    padding: 10px;
    transition: transform 0.3s;
}

.profile-photo {
    width: 100%;
    border-radius: 10px;
}

.btn {
    background: #f39c12;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.linkedin-logo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: transform 0.3s;
}

.linkedin-logo img {
    width: 30px;
    height: 30px;
}

.linkedin-logo:hover {
    transform: scale(1.2);
}

footer {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Animation */
@keyframes slideIn {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Typing Animation */
.typing {
    font-family: 'Courier Prime', monospace;
    border-right: .15em solid #f39c12;
    white-space: nowrap;
    overflow: hidden;
    width: 0; /* Hidden until animated */
    animation: typing 4s steps(30, end), blink .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%; /* Full text width */
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
